.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.profile {
  margin-top: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.profile-name {
  font-size: 2rem;
  font-weight: 700;
  margin-top: 4rem;
  width: 50vw;
  text-align: center;
  color: #382aee;
}

.statistic {
  margin-top: 2rem;
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media screen and (max-width: 400px) {
  .profile-name {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 300px) {
  .profile-name {
    font-size: 1.3rem;
    font-weight: 900;
  }
}
