.header {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  justify-content: space-between;
  height: 50px;
  width: 100vw;
  padding-top: 2.5rem;
}

.login {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 1rem;
  width: 100vw;
  height: calc(100vh - 50px);
}

.login-img {
  width: 90%;
  height: 50%;
  margin-top: 2.5rem;
}

.login-form {
  width: 100%;
  height: 50%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.login-inputs {
  width: 90%;
  display: grid;
  grid-template-rows: 100px 100px;
  row-gap: 1rem;
  margin-top: 1.5rem;
  margin-bottom: 2rem;
}

.button-wrapper {
  width: 90%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding-bottom: 1rem;
}

.footer-text {
  font-weight: 400;
  color: #c4c4c4;
}

.create-account {
  font-weight: 600;
  margin-left: 1rem;
  color: #382aee;
}

@media screen and (max-height: 800px) {
  .login-img {
    width: 80%;
    height: 80%;
    margin-top: 1.5rem;
  }
  .button {
    font-size: 0.9rem;
  }
  .login-inputs {
    margin-top: 0.5rem;
  }
  .footer {
    margin-top: 0.5rem;
    font-size: 0.8rem;
  }
}

@media screen and (max-height: 700px) {
  .button {
    font-size: 0.8rem;
  }
  .login-inputs {
    margin-top: 0.5rem;
    grid-template-rows: 75px 75px;
    margin-bottom: 1rem;
  }
  .footer {
    margin-top: 0.5rem;
    font-size: 0.7rem;
  }
}

@media screen and (max-height: 600px) {
  .login-inputs {
    margin-top: 0.5rem;
    grid-template-rows: 65px 65px;
    margin-bottom: 1rem;
  }
}
